@charset "utf-8";
*{margin: 0px;padding: 0px;box-sizing: border-box;list-style: none;text-decoration: none;outline: none;}
body{margin: 0px auto;min-height: 100vh; background-image: linear-gradient(45deg,rgb(175, 95, 21) 0%,rgb(175, 95, 21) 25%,orange 25%,orange 75%,rgb(175, 95, 21) 75%, rgb(175, 95, 21) 100%);}
body section{width: 700px; min-height: 400px;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%); border: 2px solid #000;border-radius: 10px;display: flex;justify-content: center;align-items: center;background-color: #fff;}
body section .container{width: 640px;position: relative; overflow: hidden;}
body section .container .boxs{width:calc(640px * 3);display: flex;position: relative;transform: translateX(0px);}
body section .container .box{min-width: 640px;padding: 0px 5px;}
body section .container .box img{width: 90px;height: 90px;border-radius: 50%;display: block;margin:0px auto}
body section .container .icon{display:block;margin: 0px auto;width: fit-content;margin-top: 15px;font-size: 35px;color: rgb(153, 74, 0);}
body section .container .box p, h4, span{display: block;text-align: center;margin:15px  0px;}
body section .container .box span{margin-bottom: 40px;}
body section .container a{font-size:30px;color:rgb(56, 56, 56);position: absolute;top: calc(calc(90px - 30px) / 2);}
body section .container a i{display: block;}
body section .container a:hover{color: rgb(118, 60, 7) ;}
body section .container .btn_left{left:30%}
body section .container .btn_right{right:30%}
body section .container .points{display: flex;position: absolute;bottom: 0px;left: 50%;transform:translate(-50%,0%);}
body section .container .points .point{width: 12px;height: 12px;background-color: grey;border-radius: 50%; margin: 0px 2.5px;border: 1px solid transparent;}
body section .container .points .point:hover{background: rgb(116, 75, 0);cursor: pointer;}

